$font-regular: 'roboto-regular';
$font-bold: 'roboto-bold';
$font-light: 'roboto-light';
$font-italic: 'roboto-italic';

$min-width-body: 1270px;
$max-width-body: 1440px;

$brown: #A77750;
$light-brown: #D6C3AF;
$font-color: #333333;